<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cura"
    android:installLocation="internalOnly"
    android:versionCode="24"
    android:versionName="2.8" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/cura_app_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="com.cura.main.Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cura.main.AccountsList_Activity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
            <intent-filter>
                <action android:name="cura.connected" />
                <action android:name="cura.notConnected" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cura.main.Preference_Screen"
            android:theme="@android:style/Theme.DeviceDefault" >
        </activity>
        <activity
            android:name="com.cura.about.About_Activity"
            android:theme="@android:style/Theme.DeviceDefault" >
        </activity>
        <activity
            android:name="com.cura.main.Main_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault" >
        </activity>
        <activity android:name="com.cura.serverstats.ServerStats_Activity" >
        </activity>
        <activity android:name="com.cura.syslog.Syslog_Activity" >
        </activity>
        <activity
            android:name="com.cura.syslog.LogsDialog"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
        </activity>
        <activity android:name="com.cura.sysmonitor.SysMonitor_Activity" >
        </activity>
        <activity android:name="com.cura.nmap.NMAP_Activity" >
        </activity>
        <activity
            android:name="com.cura.terminal.Terminal_Activity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity android:name="com.cura.terminal.FavoriteCommandsDialog" >
        </activity>

        <service android:name="com.cura.connection.ConnectionService" />

        <receiver android:name="com.cura.connection.ConnectionBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>